<template>
  <div>
    <div class="row">
      <div class="col-md-6">
        <h1>List of products</h1>
        <ul class="list-group">
          <li v-for="product in products" :key="product.id" class="list-group-item">
            <div class="row">
              <div class="col-md-6">
                {{ product.name }}
              </div>
              <div class="col-md-6">
                <button class="btn btn-primary" @click="addToCart(product)">add to cart</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <h1>Cart ({{ cart.length }})</h1>
        <ul class="list-group">
          <li v-for="item in cart" :key="item.id" class="list-group-item">
            <a href="#" class="pull-left btn btn-danger"  @click.prevent="removeItem(item)">x</a>
            {{ item.name }}({{ item.qty }})
            <a href="#" class="btn btn-danger btn-sm" @click.prevent="decrementQty(item)">
              -
            </a>
            <a href="#" class="btn btn-success btn-sm" @click.prevent="addToCart(item)">
              +
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Cart',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      products: [],
      cart: []
    }
  },
  methods: {
    addToCart (product) {
      let findItem = this.cart.find(item => product.id === item.id)
      if (findItem) {
        // let existingProduct = this.products.find(item => item.id === findItem.id)
        // if (existingProduct.qty > findItem.qty) {
        findItem.qty++
        // } else {
        // alert("we don't have more qty")
        // }
      } else {
        let item = {
          id: product.id,
          name: product.name,
          qty: 1
        }
        this.cart.push(item)
      }
    },
    incrementQty (item) {
      this.addToCart(item)
    },
    decrementQty (item) {
      item.qty--
      if (item.qty === 0) {
        this.removeItem(item)
      }
    },
    removeItem (item) {
      let index = this.cart.findIndex(cartItem => cartItem.id === item.id)
      this.cart.splice(index, 1)
    }
  },
  mounted () {
    /* global axios */
    axios.get('./static/products.json').then(response => {
      this.products = response.data
    })
  }
}
</script>
